<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Error</title>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">

        <!-- <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/styles.css"> -->
    </head>
    <body>
        <section class="error">
            <h1>An error occurred</h1>
            <p th:text="${error}"></p>
        </section>
    </body>
</html>