<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body class="content">

    <section class="login">
        <section class="card">
            <h1>Thanks for signing up for this app!</h1>
            <p>Your account has successfully been created. You may login <a
                    th:href="${origin} + '/views/login'">here</a>.</p>

        </section>
    </section>
</body>

</html>