@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@700&family=Work+Sans:wght@300&display=swap");
.nav-mobile {
  display: none;
}

.nav-menu-mobile {
  display: none;
}

.nav-main {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-desktop {
  background-color: #022B3A;
  color: white;
  padding: 1em 2em;
}

.nav-desktop .nav-option {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: auto 1.5em;
}

.nav-desktop .nav-option:hover {
  text-decoration: underline;
}

body {
  background-color: #E9EBF1;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 0.5em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  padding: 0.2em;
  margin: 0.5em auto;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  padding: 0.2em;
  line-height: 1.2em;
}

pre {
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 80vw;
  background-color: #E1E5F2;
  margin: 1em 0;
  padding: 0.5em;
}

code {
  font-family: "Fira Code", monospace;
  font-size: 12px;
  padding: 0.2em;
}

ul {
  padding: 1em;
}

li {
  display: list-item;
  list-style-type: disc;
  list-style-position: inherit;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  padding: 0.5em 1.5em;
}

b {
  font-weight: bold;
}

.content {
  padding: 2em 5em;
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.summary img {
  width: 50%;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2em;
}

.summary p {
  font-size: 1.3em;
  padding: 0.5em;
}

.summary a {
  padding: 0.2em 0;
}

.framework-summary {
  padding: 1.2em;
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.framework-summary h1 {
  margin-top: 0;
}

.framework-summary p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2em;
  text-align: left;
  padding: 0.5em;
  width: 15em;
}

.framework-summary img {
  width: 400px;
  height: auto;
}

.framework-summary .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.framework-summary .framework-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.framework-summary .framework-info .characteristic {
  width: 30vw;
  background-color: #EDD4D7;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 1.2em 2em;
  margin: 0.5em;
}

.conclusion h1 {
  text-align: left;
  padding: 1em 0;
}

.conclusion h3 {
  padding: 0.5em 0;
}

.credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

.credits .credit-desc {
  width: 500px;
  background-color: #E1E5F2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px;
}

.credits .credit-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5em;
}

.credits .credit-top .name {
  width: 400px;
  -webkit-box-flex: 45;
      -ms-flex: 45;
          flex: 45;
}

.credits .credit-top img {
  width: 165px;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.credits .credit-top p {
  margin-top: 1.5em;
}

.credits ul {
  margin-left: 1em;
}

.credits li {
  padding: 0.2em 0.5em;
}

.references {
  text-align: center;
}

.tutorial-content h1 {
  padding: 1em 0;
}

.tutorial-content ul {
  padding-left: 2em 0.75em;
}

.tutorial-content li {
  padding: 0.5em 0;
}

@media screen and (max-width: 830px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
    background-color: #022B3A;
    padding: 0.5em;
  }
  .nav-mobile section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .nav-mobile img {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .nav-mobile img:hover {
    background-color: #124954;
  }
  .nav-menu-mobile {
    padding: 0.5em;
    display: none;
    background-color: #022B3A;
  }
  .nav-menu-mobile a {
    display: block;
    font-family: "Work Sans", sans-serif;
    color: white;
    text-decoration: none;
    padding: 0.5em;
  }
  .nav-menu-mobile a:hover {
    background-color: #124954;
  }
  h1 {
    font-size: 2em;
  }
  .content {
    padding: 1em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .summary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .summary img {
    width: 70%;
  }
  .framework-summary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1em;
    margin: none;
    gap: 0.5em;
  }
  .framework-summary .intro {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .framework-summary .intro p {
    text-align: center;
    width: auto;
  }
  .framework-summary .intro img {
    width: 200px;
    height: auto;
    margin: auto;
  }
  .framework-summary .framework-info {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .framework-summary .framework-info .characteristic {
    width: auto;
    padding: 1em;
    min-width: 0;
  }
  .framework-summary .framework-info p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .credits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .credits .credit-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .credits .credit-desc li {
    width: auto;
  }
  .credits .credit-desc p {
    width: auto;
  }
  .credits .credit-desc .credit-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .credits .credit-desc .credit-top .name {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */