@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Work+Sans:wght@300&display=swap");
nav {
  background-color: #022B3A;
  color: white;
  padding: 1em 2em;
}

nav .nav-main {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

nav .nav-option {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: auto 1.5em;
}

nav .nav-option:hover {
  text-decoration: underline;
}

body {
  background-color: #E9EBF1;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 0.5em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  padding: 0.2em;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

ul {
  padding: 1em;
}

li {
  display: list-item;
  list-style-type: disc;
  list-style-position: inherit;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  padding: 0.5em 1.5em;
}

b {
  font-weight: bold;
}

.content {
  padding: 2em 5em;
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.summary img {
  width: 50%;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2em;
}

.summary p {
  font-size: 1.3em;
  padding: 0.5em;
}

.summary a {
  padding: 0.2em 0;
}

.framework-summary {
  padding: 1.2em;
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.framework-summary h1 {
  margin-top: 0;
}

.framework-summary p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2em;
  text-align: left;
  padding: 0.5em;
  width: 15em;
}

.framework-summary img {
  width: 400px;
  height: auto;
}

.framework-summary .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.framework-summary .framework-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.framework-summary .framework-info .characteristic {
  width: 30vw;
  background-color: #EDD4D7;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 1.2em 2em;
  margin: 0.5em;
}
/*# sourceMappingURL=style.css.map */