// import fonts

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@700&family=Work+Sans:wght@300&display=swap');

// Defining variables

// colours
$nav-colour: #022B3A;
$bg-colour: #E9EBF1;
$link-colour: #1F7A8C;
$win1-colour: #DBEBFB;
$win2-colour: #EDD4D7;
$credits-colour: #E1E5F2;

// font 
$titles: 'Montserrat', sans-serif;
$text: 'Work Sans', sans-serif;
$code: 'Fira Code', monospace;

// navbar

.nav-mobile {
    display: none;
}

.nav-menu-mobile {
    display: none;
}

.nav-main {
    font-family: $titles;
    color:white;
    text-decoration: none;
    font-size: 1.5em;
}
.nav-desktop {
    background-color: $nav-colour;
    color: white;
    padding: 1em 2em;
    


    .nav-option {
        float: right;
        color: white;
        text-decoration: none;
        font-size: 1em;
        margin: auto 1.5em;

        &:hover {
            text-decoration: underline;
        }
    }
}

// general stuff

body {
    background-color: $bg-colour;
    font-family: $text;
}

h1 {
    font-family: $titles;
    font-size: 2.5em;
    text-align: center;
    padding: 0.5em;
}

h2 {
    font-family: $titles;
    font-size: 1.5em;
}

h3 {
    font-family: $titles;
    font-size: 1.2em;
    padding: 0.2em;
    margin: 0.5em auto;
}

p {
    font-family: $text;
    font-size: 16px;
    padding: 0.2em;
}

code {
    font-family: $code;
    font-size: 12px;
    padding:0.2em;
}

ul {
    padding: 1em;
}

li {
    display: list-item;
    list-style-type: disc;
    list-style-position:inherit;
    font-family: $text;
    font-size: 16px;
    padding: 0.5em 1.5em;
}

b {
    font-weight: bold;
}

// content other than navbar
.content {
    padding: 2em 5em;
}

// top main summary
.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
        width: 50%;
        height: auto;
        align-self: center;
        margin-top: 2em;
    }

    p {
        font-size: 1.3em;
        padding: 0.5em;
    }
    
    a {
        padding: 0.2em 0;
    }
}

// each section for framework

.framework-summary {
    padding: 1.2em;
    margin: 0.5em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    h1 {
        margin-top: 0;
    }

    p {
        font-family: $text;
        font-size: 1.2em;
        text-align: left;
        padding: 0.5em;
        width: 15em;
    }

    img {
        width: 400px;
        height: auto;
        
    }

    .intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .framework-info {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1em;

        .characteristic {
            width: 30vw;
            background-color: $win2-colour;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding: 1.2em 2em;
            margin: 0.5em;
        }

        
    }

    // .spring-install {
    //     flex-direction: column;
    //     justify-content: center;
    // }
}

.conclusion {

    h1 {
        text-align: left;
        padding: 1em 0;
    }

    h3 {
        padding: 0.5em 0;
    }
}

.credits {
    
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;

    .credit-desc {
        width: 500px;
        background-color: $credits-colour;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 20px;
       
    }

    .credit-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5em;

        .name {
            width: 400px;
            flex: 45;
        }

        img {
            width: 165px;
            height: 165px;
            object-fit: cover;
            border-radius: 50%;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            
        }
        
        p {
            margin-top: 1.5em;
        }
    }

    

    ul {
        margin-left: 1em;
    }

    li {
        padding: 0.2em 0.5em;
    }

}

.tutorial-content {
    h1 {
        text-align: left;
        padding: auto 0;
    }
}


// mobile site:

@media screen and (max-width: 830px) {

    // mobile nav
    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: block;
        background-color: $nav-colour;
        padding: 0.5em;

        section {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1em;

        }

        img {
            align-self: flex-start;
        }
        
    }

    .nav-menu-mobile {
        padding: 0.5em;
        display: none;
        background-color: $nav-colour;


        a {
            display: block;
            font-family: $text;
            color: white;
            text-decoration: none;
            padding: 0.5em;
        }
    }

    h1 {
        font-size: 2em;
    }

    .content {
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .framework-summary {

        padding: 1em;
        margin: 0;
        gap: 0.5em;
        
        .intro {

            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            
            p {
                text-align: center;
                width: auto;
            }

            img {
                width: 200px;
                height: auto;
                margin: auto;
            }
        }

        .framework-info {
            
            align-content: stretch;

            .characteristic {
                width: auto;
                padding: 1em;
            }
        }
    }

    .credits {
        flex-direction: column;
        
        .credit-desc {
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: auto;

            li {
                width: auto;
            }

            p {
                width: auto;
            }

            .credit-top {
                flex-direction: column;

                .name {
                    width: 300px;
                }
            }
        }
    }


}



