// import fonts

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@700&family=Work+Sans:wght@300&display=swap');

// Defining variables

// colours
$nav-colour: #022B3A;
$bg-colour: #E9EBF1;
$link-colour: #1F7A8C;
$win-colour: #DBEBFB;
$button-colour: #EDD4D7;

// font 
$titles: 'Montserrat', sans-serif;
$text: 'Work Sans', sans-serif;

// mixins, reuse this in each element I want to become a "card"
@mixin card-theme() {
    background-color: $win-colour;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 1em;
}

// Note the nesting of elements:

// general stuff

body {
    background-color: $bg-colour;
    font-family: $text;
}

h1 {
    font-family: $titles;
    font-size: 2.5em;
    text-align: center;
    padding: 0.5em;
}

h2 {
    font-family: $titles;
    font-size: 1.5em;
}

ul {
    padding: 1em;
}

li {
    display: list-item;
    list-style-type: disc;
    list-style-position: inherit;
    font-family: $text;
    font-size: 16px;
    padding: 0.5em 0.25em;
}

// content other than navbar
.content {
    padding: 2em 5em;
}

.login {
    margin-top: 2em;
    display: flex;
    gap: 1.75em;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        @include card-theme();

        p {
            font-size: 1.2em;
        }

        form {
            padding: 2em 0;
            p {
                font-size: 1em;
                padding: 0.25em 0;
            }

            .submit-button {
                background-color: $button-colour;
                border: 1px solid;
                border-radius: 5px;
                font-size: 1.1em;
                margin: 1em 0;
                padding: 0.25em;
                width: fit-content;
                height: auto;

                &:hover {
                    background-color: #1F7A8C;
                }
            }
        }
    }
}

.todo-card {
    @include card-theme();
    width: fit-content;
    margin: auto;
    
    .todo-list {
        background-color: white;
        padding: 2em;
    }
}
